fastapi
uvicorn[standard]
asyncpg
pandas
python-multipart
redis[asyncio]
gunicorn
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1
slowapi
tenacity
alembic
sqlalchemy
psycopg2-binary
pytest
pytest-asyncio
httpx
